.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%;
  max-width: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  margin-bottom: 20px;
  color: #131921;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.auth-form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(177, 177, 177);
  padding-left: 15px;
}

.auth-form button {
  height: 40px;
  width: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px transparent;
  cursor: pointer;
  background-color: rgb(6, 87, 163);
  color: #fff;
}

.form-container span button {
  background: none;
  border: none;
  outline: none;
  color: rgb(6, 87, 163);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
