* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
